In [1]:
l=[1,2,3,4,'sudh',45.56]

In [2]:
l

[1, 2, 3, 4, 'sudh', 45.56]

In [3]:
for i in l :
    print (i)

1
2
3
4
sudh
45.56

In [4]:
for i in l:

IndentationError: expected an indented block (239044884.py, line 1)

In [5]:
for i in l:
    pass

In [10]:
for i in l:
    pass

In [11]:
s= "sudh"
for i in s:
    print (i)

s
u
d
h

In [12]:
for i in l:
    print(i)
else :
    print("if loop is going to pass ")

1
2
3
4
sudh
45.56
if loop is going to pass

In [20]:
for i in l :
    if i == 4 :
        break 
    print(i)
else :
    print("this will pass only if for is completed ")

1
2
3

In [18]:
for i in l :
   
        print(i)
else :
    print("this will pass only if for is completed ")

1
2
3
4
sudh
45.56
this will pass only if for is completed

In [25]:
s= "sudh"
for i in s :
    if i == 'n' :
        break 
    print(i)
else :
    print("print string", s )

s
u
d
h
print string sudh

In [26]:
t=(4,5,6,7,8,9,"anki")

In [27]:
type(t)

tuple

In [28]:
t

(4, 5, 6, 7, 8, 9, 'anki')

In [29]:
for i in t :
    print (i)

4
5
6
7
8
9
anki

In [32]:
s = {1,2,3,4,8,8,0,0,0,"ank"}
type(s)

set

In [33]:
s

{0, 1, 2, 3, 4, 8, 'ank'}

In [35]:
for i in s :
    print (i)

0
1
2
3
4
ank
8

In [38]:
d ={'key1':"sudh", 'contact':"gmail.com","position":"xyz"}
type(d)

dict

In [39]:
for i in d :
    print (i)

key1
contact
position

In [43]:
for i in d:
    print(i,d[i])

key1 sudh
contact gmail.com
position xyz

In [44]:
d['key1']

'sudh'

In [45]:
range (9)

range(0, 9)

In [46]:
range(1)

range(0, 1)

In [47]:
list (range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
set (range(9))

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
dict(range(9))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [50]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [51]:
range(0)

range(0, 0)

In [53]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [54]:
range(100)

range(0, 100)

In [56]:
list (range(0,9,-1))

[]

In [57]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
n = 4
for i in range (4) :
    for j in range (0, i+1) :
        print ("shaan" ,end = " " )
    print ("\n")

shaan

shaan shaan

shaan shaan shaan

shaan shaan shaan shaan

In [67]:
n = 4
for i in range (4) :
    for j in range (0, i+1) :
        print ("shaan")
    print ("\n")

shaan


shaan
shaan


shaan
shaan
shaan


shaan
shaan
shaan
shaan

In [80]:
n = 3
for i in range (3) :
    for j in range (0, i+1) :
        print ( "\t\tshaan" ,end = "   " )
    print ("\n")

		shaan

		shaan   		shaan

		shaan   		shaan   		shaan

In [81]:
t= (3,23,45,67,2,4,5,6)
t

(3, 23, 45, 67, 2, 4, 5, 6)

In [85]:
for i in range(len(t)) :
    print (i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [93]:
s='ineuron'

for i in range(len(s)) :
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [96]:
s='ineuron'

for i in range(len(s)-1,-1,-1) :
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [97]:
d

{'key1': 'sudh', 'contact': 'gmail.com', 'position': 'xyz'}

In [98]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'gmail.com'), ('position', 'xyz')])

In [102]:
for i in d.items():
    print (i,type(i),type(d.items),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'builtin_function_or_method'> <class 'str'>
('contact', 'gmail.com') <class 'tuple'> <class 'builtin_function_or_method'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'builtin_function_or_method'> <class 'str'>

In [115]:
l=["sudh","kumar",3234545,"abc@gmail.com",345,343453]
l1 = []

for i in l :
    if type(i) == int : 
        l1.append(i)

In [116]:
l1

[3234545, 345, 343453]

In [117]:
d= {1:345, "name":"sudh", "email_id": "abc@gmail.com", 2: "fsfs", "43":"sfsf", 3 :"3454"}
d

{1: 345,
 'name': 'sudh',
 'email_id': 'abc@gmail.com',
 2: 'fsfs',
 '43': 'sfsf',
 3: '3454'}

In [127]:
for i in d :
    if type(i) == int :
        print(i,d[i])

1 345
2 fsfs
3 3454

In [135]:
s= "aaaaabbccd"

s1= list(s)

s1

for i in s1:
    print(i,s1.count(i))

a 5
a 5
a 5
a 5
a 5
b 2
b 2
c 2
c 2
d 1

In [137]:
s= "aaaaabbccd"

s1= list(s)

s1

['a', 'a', 'a', 'a', 'a', 'b', 'b', 'c', 'c', 'd']

In [138]:
s2 = set(s1)

In [139]:
s2

{'a', 'b', 'c', 'd'}

In [140]:
s3=list(s2)

In [141]:
s3

['b', 'd', 'a', 'c']

In [142]:
for i in s3:
    print(i,s1.count(i))

b 2
d 1
a 5
c 2

In [143]:
t= ("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"kumar"})

In [144]:
type (t)

tuple

In [155]:
for i in t :
      if type(i)==tuple or type(i)==list:
            for j in i :
                if j==3:
                    print(j)

3
3